@import "tailwindcss";
@import 'bootstrap-icons/font/bootstrap-icons.css';

@theme {
  --color-blue-100: #E4F0FD;
  --color-blue-200: #789FCF;
  --color-blue-300: #496D96;
  --color-blue-400: #3D5169;
}

@layer components {
  .btn-primary {
    @apply flex gap-3 items-center p-3 bg-white text-blue-300 border-3 border-blue-300 rounded-xl text-3xl;
  }

  .btn-secondary {
    @apply flex gap-3 items-center p-3 border-3 border-white rounded-xl text-3xl;
  }
}

:root {
  font-family: Outfit
}

.hover-text {
  border-bottom: 4px solid transparent;
  transition: border-color 0.3s ease;
}

.hover-text:hover {
  border-color: currentColor;
}

h2 {
  font-size: 3rem;
  font-weight: 550;
}

h3 {
  font-size: 2.5rem;
  font-weight: 500;
}

p, label {
  font-size: 1.75rem;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  background-color: white;
  color: var(--color-blue-400);

  border-radius: 15px;
  padding: 10px;
  font-size: 1.75rem;
}